@model ASPBasicProjectWithAuth.ViewModels.HomeDetailsViewModel;
@{
    ViewData["Title"] = "Details";
}

    <h1>@Model.PageTitle</h1>
    <div>
    @Model.Employee.Id
    </div>
<div>
        @Model.Employee.Name
</div>
<div>
    @Model.Employee.Email
</div>

